
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
 }

 body{
    background-color:rgb(204, 202, 252) ;

 }

 .container{
     margin: 0 auto;
 }

 h2{
     display: grid;
     justify-content: center;
     margin: 2rem;
 }

 .profile-container{
     margin:     auto;
     width: 60%;
     background-color: white;
     box-shadow: 1px 5px 15px rgb(0, 0, 0);
     border-radius: 10px;
     display: none;
 }

 .profile-container img{
     height: 150px;
     width: 150px;
     border-radius: 100px;
     margin-top: 20px;
     box-shadow: 12px -2px  rgb(113, 157, 214);
 }

.img-container{
    display: grid;
     justify-content: center;
     margin-top: 20px;
}

h4{
    display: grid;
    justify-content: center;
    margin: 10px;
    font-size: 1.5rem;
}
h6{
    display: grid;
    justify-content: center;
    margin: 10px;
    color: rgb(79, 101, 173);
    font-weight: 500;
    font-size: .8rem;
}

p{
    display: grid;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top:15px;
    width: 90%;
}

.icons,.fas{
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-top:-70px
}


.btn,button{
    display: grid;
    justify-content: center;
    padding: .5rem;
}
button{
    width: 100px;
    border: 1px solid blue;
    cursor: pointer;
    background: transparent;
    position: relative;
    top: -2rem;
}

button:hover{
    box-shadow: inset 100px 0 0 0 rgb(111, 111, 185);
    transition: .4s;
    color: white;
}

.like{
    position: relative;
    top: 6px;
    left: 20%;
    font-size: 1.5rem;
}

a{
    position: relative;
    left: 70%;
    top: -4rem;
}

.footer-container {
    margin-top: 70px;
}




@media screen and (max-width:993px){
    p{
        font-size: .9rem;
    }

    .profile-container{
        margin-top: 10px;
    }

    .img-container img{
        height: 120px;
        width: 120px;
    }

    .icons{
        position: relative;
        top: -70px;
    }

    .fas{
        margin: 2.5rem;
    }

    .footer-container{
        top: 20px;
        position: relative;
    }
}

@media screen and (max-width:573px){
    .profile-container{
        height: 450px;
        width: 80vw;
    }
}


@media screen and (max-width:340px){
    .like{
        font-size: 1.3rem;
        position: relative;
        top: -10px;
        left: 30px;
        }

        button{
            width: 80px;
            position: relative;
            height: 30px;
            top: -45px;      
          }
          a{
            font-size: .8rem;
            position: relative;
            top: -80px;        
          }


}
